Python code for KNN prediction of Sleep Index (SI)
MIE 1050
Submitted by: Wenhao Li and Ye Wang

Import and processing data for KNN model.

In [25]:
#Import necessary libraries
import pandas as pd
import numpy as np
import sklearn 
import matplotlib.pyplot as plt
from sklearn import datasets, neighbors
import warnings
warnings.filterwarnings("ignore")

In [26]:
#Load train and test data from CSV file
train = pd.read_csv("knntrain.csv")
test = pd.read_csv("knntest.csv")
val = pd.read_csv("knnval.csv")
df_train = train
df_val = val
df_test = test

In [27]:
#Quick look at the train data provided
df_val

    Noise  Feels_Like  Light_intensity SI Level
0      30          23               15        B
1      30          19                5        B
2      30          19               20        A
3      30          20               20        A
4      30          23               10        B
5       0          19               20        C
6       0          21               15        D
7      30          18                5        B
8      30          19                0        B
9      30          26               10        D
10     30          14               15        C
11     30          10               20        F
12     30          17               10        B
13      0          18               15        D
14      0          15               15        F
15      0          23               15        F
16     30          14               20        B
17     30          25               15        C
18      0          25               10        F
19      0          23                0        F

In [46]:
#Split and clean up the train data into features and prediction labels
y_train = df_train['SI Level']
X_train = df_train.drop(columns=['SI Level', 'Unnamed: 4','Unnamed: 5'],axis=1)
y_val = df_val['SI Level']
X_val = df_val.drop(columns=['SI Level'],axis=1)
X_test = df_test.drop(columns=['SI Level'],axis=1)

In [29]:
X_train

    Noise  Feels_Like  Light_intensity
0      30          22               20
1      30          21               20
2      30          21               15
3      30          21               10
4      30          21               10
..    ...         ...              ...
95      0          16               15
96      0          16               20
97      0          15               20
98      0          17               15
99      0          19                5

[100 rows x 3 columns]

In [30]:
y_train

0     A
1     A
2     A
3     A
4     A
     ..
95    F
96    F
97    F
98    F
99    F
Name: SI Level, Length: 100, dtype: object

In [31]:
#KNN Classifier

In [32]:
#Prepare test case
X_test = [[30,28,20],[30,21,15],[0,21,20],[30,18,10],[30,11,5]]
#X_test = [[32,27,17,3],[54,20,27,6],[43,200,23,10],[32,280,19,18]]
arr = np.array(X_test)

Fit and cross validate KNN model using Sklearn for odd k values ranging from 1-11:

In [33]:
from sklearn import neighbors
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_validate

k_list = [1, 3, 5, 7, 9, 11]
for k in k_list:
    knn = neighbors.KNeighborsClassifier(n_neighbors=k)

    X = X_train
    y = y_train
    knn.fit(X,y)

    #accuracy = accuracy_score(y_test, knn.predict(X_test))
    #print ("Accuracy: ", accuracy * 100, "%")

    scores = cross_validate(knn, X, y, cv=5,return_train_score=True)
    print("For k =",k)
    print('Mean Train Accuracy:',scores['train_score'].mean()) # returns the mean cross-validation train score
    print('Mean Validation Accuracy:', scores['test_score'].mean()) # returns the mean cross-validation validation score

For k = 1
Mean Train Accuracy: 1.0
Mean Validation Accuracy: 0.71
For k = 3
Mean Train Accuracy: 0.8550000000000001
Mean Validation Accuracy: 0.65
For k = 5
Mean Train Accuracy: 0.7424999999999999
Mean Validation Accuracy: 0.57
For k = 7
Mean Train Accuracy: 0.6100000000000001
Mean Validation Accuracy: 0.48
For k = 9
Mean Train Accuracy: 0.5275000000000001
Mean Validation Accuracy: 0.42000000000000004
For k = 11
Mean Train Accuracy: 0.5425
Mean Validation Accuracy: 0.36

In [34]:
'''
k = 1 seems to be providing the best cross-validation prediction accuracy
'''
knn = neighbors.KNeighborsClassifier(n_neighbors=1)
knn.fit(X,y)
y_pred = knn.predict(X_train)
test_predicted = knn.predict(X_test)
print(test_predicted)

['D' 'A' 'C' 'B' 'F']

User reading for actual results

In [65]:
def userInput():
    Noise = input("Please input noise level reading:").lower()
    Light = input("Please input the lighting condition:").lower()
    feels_like = float(input("Please input the feels like temperature in C:"))
    
    #print(Noise, Light, feels_like)
    if Noise == "ideal":
        SI_n = 1 * 30
    else:
        SI_n = 0
        
    if Light == "dark":
        SI_L = 20
    elif Light == "dim":
        SI_L = 15
    elif Light == "light":
        SI_L = 10
    else:
        SI_L = 5
    
    if 19 > feels_like:
        SI_T = 50 - ((19 - feels_like) * 5)
    elif 19 <= feels_like and feels_like <= 21:
        SI_T = 50
    else:
        SI_T = 50 - ((feels_like - 21) * 5)
    temp = []
    temp.append(SI_n)
    temp.append(SI_T)
    temp.append(SI_L)
    temp = np.array(temp)
    pred = knn.predict(temp.reshape(1, -1))
    print("Predicted SI is:",pred)

In [66]:
userInput()

Please input noise level reading:ideal
Please input the lighting condition:dark
Please input the feels like temperature in C:21
Predicted SI is: ['D']

In [47]:
X_val

    Noise  Feels_Like  Light_intensity
0      30          23               15
1      30          19                5
2      30          19               20
3      30          20               20
4      30          23               10
5       0          19               20
6       0          21               15
7      30          18                5
8      30          19                0
9      30          26               10
10     30          14               15
11     30          10               20
12     30          17               10
13      0          18               15
14      0          15               15
15      0          23               15
16     30          14               20
17     30          25               15
18      0          25               10
19      0          23                0

In [50]:
#Prepare test case
X_test = [[0,21,15],[30,26,20],[30,23,10],[0,27,10]]
X_test = np.array(X_test)

In [55]:
y_test = ["D","C","C","F"]
y_test = np.array(X_test)

In [51]:
y_test_pred = knn.predict(X_test)

In [53]:
y_test_pred

array(['D', 'C', 'B', 'F'], dtype=object)

In [56]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_test_pred)
from sklearn.metrics import accuracy_score 
print ("Accuracy : ", accuracy_score(y_test, y_test_pred))
cm

ValueError: Classification metrics can't handle a mix of multiclass-multioutput and multiclass targets

In [38]:
y_train

0     A
1     A
2     A
3     A
4     A
     ..
95    F
96    F
97    F
98    F
99    F
Name: SI Level, Length: 100, dtype: object